<!-- <nav class="navbar navbar-expand-lg navbar navbar-dark mynav" style="background-color: black">
  <div class="container-fluid">
    <a class="navbar-brand ms-5 pe-5" href="#">Courses</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0  m-auto ">
        <li class="nav-item ">
          <a class="nav-link active  me-4" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item text-center">
          <a class="nav-link  text-end me-4" aria-current="page" href="adddata.php">Add Data</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link   text-end me-4" aria-current="page" href="mydata.php">mydata</a>
        </li>
      <li>
          <a class="nav-link me-4" href="#">Link</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link active  me-4" aria-current="page" href="logout.php">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav> -->
<!-- <h1 >mohamed khaled   {{x}}</h1>
<p class={{hstyle}}>LOLasdasdsaasdasdasdasdasdasd</p>
<div *ngif="hiii">hiiiyala</div>


<button (click)="Lol()">click on me</button>


<input type="text"  [(ngModel)]="moo"> {{moo}}




<hr>

<div *ngif="hiii">

mohamedmoahemmoahemd

</div>

<button (click)="changeb()">doos yalla</button> -->

 <!-- ? -->
 <html>
<head>
	<title>web sites</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	 <!-- <link rel="stylesheet"  href="all.css"    >
	<link rel="stylesheet"  href="all.min.css"> -->
	<!-- <link rel="stylesheet"  href="../assets/css/main.css"   >  -->
	
</head>
<body>
	<header>
		<div class="par1">
			<div class="child1  rr">
				<ul>
					<li><a href="#sec1" >الرئيسيه</a></li>
					<li><a href="#sec2" >خدماتنا</a></li>
          		    <li><a href="#sec3" >عملائنا</a></li>
                    <li><a href="#sec4" >مشاريعنا</a></li>
					<li><a href="#"> اتصل بنا</a></li>
				</ul>
			</div>
		<div class="child1  rl"> 
		  <h1> شركتنا</h1>
		</div>
       </div>
		<section class="sec1" id="sec1">
			<h1>  مرحباً بك في<span> شركتنا   </span></h1>
			<p>انزل  الي  اسفل  حتي  تري  خدماتنا</p>
	</section>
	</header>

	<section class="sec2" id="sec2">
		<h1>خدماتنا</h1>
		<div class="border"></div>
		<div class="pa">
			<div class="s_ch"><img src="../assets/images/01.jpg" alt="" width="150px" height="150"></div>
			<div class="s_ch"><h2>تصميم مواقع</h2>
        <p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني وتصميم الهويات التجارية بالاضافة إلى حلول الويب والبرمج.</p></div>
		    <div class="s_ch"><img src="../assets/images/brand-message-strategy.webp" alt="" width="150px" height="150"></div>
			<div class="s_ch"><h2> تطبيقات المحمول</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني
			
		</div>
    </div>

		<div class="pa2">
			<div class="s_ch2"><img src="../assets/images/01.jpg" alt="" width="150px" height="150"></div>
			<div class="s_ch2"><h2>امن المعلومات مواقع</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني وتصميم الهويات التجارية بالاضافة إلى حلول الويب والبرمج.</p></div>
		    <div class="s_ch2"><img src="../assets/images/brand-message-strategy.webp" alt="" width="150px" height="150"></div>
			<div class="s_ch2"><h2>  تحليل البيانات</h2><p>تعد شركة إنجاز ميديا وكالة تسويق رقمية رائدة في تقديم خدمات متكاملة، متخصصة في تقديم خدمات التسويق الالكتروني
			
		</div>
    </div>>
		<hr>
  </section>

	<div class="clit">
	</div>
	<section class="sec3" id="sec3">
		
		<h1>ماذا يقول عملائنا؟</h1>
		<p>Hello This Is Very Cool Website And I Loved It So Much Because Reason Test Hello This Is Very Cool Website And I Loved It So Much Because Reason Test Hello This Is Very Cool Website And I Loved It So Much Because Reason Test</p>
		<h2>شركتنا</h2>
	</section>
	<section class="sec4" id="sec4">
		
		<h1>مشاريعنا</h1>
		
       <ul>
		           <li>الجميع</li>
		   		   <li>المحمول</li>
		   		   <li>الموقع</li>
		           <li>الفيديوهات</li>
		</ul>
		
		<div class="parent">
			<div class="son"><img src="../assets/images/04.jpg"></div><div class="son"><img src="../assets/images/01.jpg"></div>
			<div class="son"><img src="../assets/images/05.jpg"></div><div class="son"><img src="../assets/images/06.jpg"></div><div class="son"><img src="../assets/images/01.jpg"></div><div class="son"><img src="../assets/images/header2.jpg"></div>
		</div>
	</section>
	
</body>
</html>

